body {
    background: #607D8B;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
  }
  
  #container {
    width: 100%;
  }
  
  #card-container {
    text-align: center;
  }
  
  .col-wrapper {
    display: inline-block;
    margin: 0 -5px 0 0;
    width: 49%;
    vertical-align: top;
  }
  
  .col {
    display: inline-block;
    margin: 0 -5px -5px 0;
    width: 50%;
    vertical-align: top;
  }
  
  .item {
    width: calc(100% - 25px);
    background: #ECEFF1;
    margin: 25px auto;
    text-align: left;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  
  .item-img {
    position: relative;
    width: 100%;
  }
  
  .item-img img {
    position: relative;
    width: 100%;
  }
  
  .item-desc {
    position: relative;
    padding: 25px;
  }
  
  .item-desc a {
    position: relative;
    display: block;
    font-weight: 500;
    margin: 25px 0 0 0;
    color: #37474F;
  }
  
  .item-heading {
    font-size: 1.25em;
    margin: 0 0 10px 0;
    font-weight: 500;
  }
  
  .item-author {
    font-size: 0.70em;
    font-weight: 500;
  }
  
  @media (max-width: 1550px) {
    
    .col-wrapper {
      width: 40%;
    }
   
    .col-1, .col-2 {
      width: 100%;
      display: block;
    }
    
  }
  
  @media (max-width: 985px) {
    
    body {
      font-size: 22px;
    }
    
    .col-wrapper {
      width: 48%;
    }
    
  }
  
  @media (max-width: 675px) {
    
    .col-wrapper {
      width: 75%;
    }
    
  }
  
  @media (max-width: 525px) {
    
    .col-wrapper {
      width: 96%;
    }
    
  }